obj/
Properties/
Stashie.csproj
.vs/
packages/

/config.ini
/FitersConfig.txt
/IgnoredCells.json
/RefillCurrency.txt
bin/
Stashie.sln.DotSettings.user
Stashie.csproj.DotSettings
Stashie.csproj.user
.idea/
